$primary-color: #2a4494;
$secondary-color: #5da9e9;
$secondary-bkg-color: #a4cff4;
$cplm-scnd-bkg-color: #9FABB5;
$tertiary-bkg-color: #dfecf7;
$highlight-color: #C0EABF;
$highlight-color2: #F9627D;
$font-color: #000000;
$background-color: #ffffff;
$font-family: 'Funnel', sans-serif;
$font-size: 1rem;
$line-height: 1rem;
$sm-screen: 992px;